<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/photo.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Figueroa Hector Emanuel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, accusantium eos. Expedita deleniti vero voluptas est labore animi ratione possimus, itaque nulla sapiente perspiciatis magnam et facilis excepturi suscipit reprehenderit?</p>
        </span>
    </div>
</div>
